<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @link.comment_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @link.content %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
